name: Build and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Prepare Package Structure
      run: |
        mkdir -p pkg/usr/bin
        mkdir -p pkg/usr/share/applications/
        mkdir -p pkg/DEBIAN
        
        cp src/font-installer.sh pkg/usr/bin/font-installer-gui
        cp src/launcher.desktop pkg/usr/share/applications/font-installer.desktop
        chmod +x pkg/usr/bin/font-installer-gui

    - name: Create Control File
      run: |
        # Pega a primeira linha do README como descrição
        DESCRIPTION=$(head -n 1 README.md)
        
        cat <<EOF > pkg/DEBIAN/control
        Package: instalador-de-fontes
        Priority: optional
        Version: 1.1-${{ github.run_number }}
        Architecture: all
        Maintainer: Natanael Barbosa Santos
        Uploaders: Charles Santana <charlesstna@proton.me>
        Depends: yad, imagemagick
        Description: $DESCRIPTION
        EOF

    - name: Build .deb Package
      run: |
        dpkg-deb --build pkg ./instalador-de-fontes.deb
               
        ls -lh ./instalador-de-fontes.deb

    - name: Upload to Continuous Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh

        bash upload.sh ./instalador-de-fontes.deb